<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>
  <import class="ch.qos.logback.classic.filter.LevelFilter"/>

  <appender name="STDOUT" class="ConsoleAppender">
    <filter class="LevelFilter">
      <level>ERROR</level>
      <onMatch>DENY</onMatch>
      <onMismatch>ACCEPT</onMismatch>
    </filter>
    <target>System.out</target>
    <encoder class="PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} %marker[%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDERR" class="ConsoleAppender">
    <filter class="LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <target>System.err</target>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %marker[%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </root>
</configuration>
